.um-message-modal {
    font-size: 14px;
    color: #666;
}

.um-message-header {
    padding: 10px 15px 8px 15px;
    position: relative;
}

.um-message-header img.um-avatar {
    display: inline-block;
    position: relative;
    top: -2px;
    margin: 0px 5px !important;
    background: #f9f9f9;
    vertical-align: middle !important;
    border-radius: 999px !important;
    min-height: 40px;
}

.um-message-header a {
    border: 0 !important;
}

.um-message-header-right {
    position: absolute;
    right: 10px;
    top: 8px;
}

.um-message-header-right a {
    color: #999;
    margin: 0 0 0 8px;
    font-size: 18px;
    border: 0 !important;
    position: relative;
    text-decoration: none !important;
}

.um-message-header-right a.um-message-delconv.disabled {
    opacity: 0.2;
    cursor: default;
}

.um-message-header-right a.um-message-hide {
    display: none
}

.um-popup .um-message-header-right a.um-message-hide {
    display: inline-block
}

.um-message-footer {
    padding: 15px 15px 25px 15px;
    font-size: 13px;
}

.um input[type="submit"] {
    background-color: #3ba1da;
}

.pp-contact-dir-btn {
    min-width: 110px;
    padding: 10px 15px !important;
    transition: none !important;
    display: inline-block !important;
    margin: 0 auto !important;
    width: auto;
}
